html
{
height:100%
}

body
{
min-height:100%;
position:relative
}

footer
{
position:absolute;
width:100%;
bottom: 0px;
}

/********* STYLES DU PARALAX **********/

.parallax-window {
    min-height: 50vh;
    background: transparent;
}


/********* STYLES DU A PROPOS *********/

.a_propos{
    width: 100%;
    height: auto;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left:20px;
    margin-right:20px;
    display: flex;

    
}

.image-a_propos{
    flex:1;
    margin:20px;
}

.text-a_propos{
    flex:2;
    margin:20px;    
}